@model List<string>
@{
    ViewData["Title"] = "Home Page";
}


<div class="canvasContainer">
    <canvas id='canvas' width='700' height='350'>
        Canvas not supported, use another browser.
    </canvas>
    <img src="~/pointer.png" alt="V" id="pointer" />
    <button class="btn btn-primary" onclick="PrizeWon(); this.disabled = true;">Spin The Wheel</button>
</div>

<script src="~/js/confetti.js"></script>
<script>
    let segementsColor = [];
    for (let i = 0; i < @Model.Count; i++) {
        const color = '#'+Math.floor(Math.random() * 16777215).toString(16);
        segementsColor.push(color);
    }

    let theWheel = new Winwheel({
        'numSegments': @Model.Count,
        'segments': [ //add more segments here depending on how many items are in inventory
            { 'fillStyle': segementsColor[0], 'text': '@Model[0]' },
            { 'fillStyle': segementsColor[1], 'text': '@Model[1]' },
            { 'fillStyle': segementsColor[2], 'text': '@Model[2]' },
            { 'fillStyle': segementsColor[3], 'text': '@Model[3]' }
        ],
        'animation': {
            'type': 'spinToStop',
            'duration': 5,
            'spins': 10,
            'callbackFinished' : 'alertPrize()',
        },
        'responsive': true,
        'lineWidth': 3,
        'pointerGuide' :        // Turn pointer guide on.
        {
            'display'     : true,
            'strokeStyle' : 'yellow',
            'lineWidth'   : 5
        }
    });

    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = ajaxStateChange;

    function PrizeWon() {
        xhr.open("GET", "@Url.Action("PrizeWon")", true);
        xhr.send('');
    }

    function ajaxStateChange() {
        if (xhr.readyState < 4) {
            return;
        }
 
        if (xhr.status !== 200) {
            return;
        }
 
        // The request has completed.
        if (xhr.readyState === 4) {
            let segmentNumber = xhr.responseText;   // The segment number should be in response.
 
            if (segmentNumber) {
                // Get random angle inside specified segment of the wheel.
                let stopAt = theWheel.getRandomForSegment(segmentNumber);
 
                // Important thing is to set the stopAngle of the animation before stating the spin.
                theWheel.animation.stopAngle = stopAt;
 
                // Start the spin animation here.
                theWheel.startAnimation();
            }
        }
    }

    function alertPrize() {
        startConfetti();

        let winningSegment = theWheel.getIndicatedSegment();
        
        alert("Congratulations you won (a) " + winningSegment.text);
    }
</script>